data/schema/state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
<xs:element name="state">
	
        
        
        <xs:complexType>
		<xs:sequence>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element name="player" type="Player" />
			</xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="resourceNode" type="ResourceNode" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="xExtent" type="xs:int" />
		<xs:attribute name="yExtent" type="xs:int" />
		<xs:attribute name="nextTargetID" type="xs:int" />
		<xs:attribute name="nextTemplateID" type="xs:int" />
		<xs:attribute name="RevealedResourceNodes" type="xs:boolean" />
		<xs:attribute name="fogOfWar" type="xs:boolean" />
	</xs:complexType>
    </xs:element>
<xs:complexType name="Player">
	<xs:sequence>
		<xs:element name="ID" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="unit" type="Unit" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="upgrade" type="xs:int" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="template" type="Template" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="resourceAmount" type="ResourceQuantity" />
		</xs:sequence>
		<xs:element name="supply" type="xs:int" />
		<xs:element name="supplyCap" type="xs:int" />
	</xs:sequence>
	
</xs:complexType>
<xs:complexType name="Unit">
	<xs:all>
		<xs:element name="ID" type="xs:int" />
		<xs:element name="currentHealth" type="xs:int" />
		<xs:element name="xPosition" type="xs:int" />
		<xs:element name="yPosition" type="xs:int" />
		<xs:element name="templateID" type="xs:int" />
		<xs:element name="cargoType" type="ResourceType" />
		<xs:element name="cargoAmount" type="xs:int" />
		<xs:element name="progressPrimitive" type="Action" />
		<xs:element name="progressAmount" type="xs:int" />
	</xs:all>
</xs:complexType>
<xs:complexType name="UnitTemplate">
	<xs:complexContent>
			<xs:extension base="Template">
			<xs:sequence>
				<xs:element name="baseHealth" type="xs:int" />
				<xs:element name="baseAttack" type="xs:int" />
				<xs:element name="piercingAttack" type="xs:int" />
				<xs:element name="range" type="xs:int" />
				<xs:element name="armor" type="xs:int" />
				<xs:element name="sightRange" type="xs:int" />
				<xs:element name="canGather" type="xs:boolean" />
				<xs:element name="canBuild" type="xs:boolean" />
				<xs:element name="canMove" type="xs:boolean" />
				<xs:element name="canAcceptGold" type="xs:boolean" />
				<xs:element name="canAcceptWood" type="xs:boolean" />
				<xs:element name="foodProvided" type="xs:int" />
				<xs:element name="character" type="xs:short" />
				<xs:element name="goldGatherRate" type="xs:int" />
				<xs:element name="woodGatherRate" type="xs:int" />
				<xs:element name="durationGatherWood" type="xs:int" />
				<xs:element name="durationGatherGold" type="xs:int" />
				<xs:element name="durationMove" type="xs:int" />
				<xs:element name="durationAttack" type="xs:int" />
				<xs:element name="durationDeposit" type="xs:int" />
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="produces" type="xs:int" />
				</xs:sequence>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="Template" abstract="true">
	<xs:sequence>
		<xs:element name="ID" type="xs:int" />
		<xs:element name="foodCost" type="xs:int" />
		<xs:element name="goldCost" type="xs:int" />
		<xs:element name="woodCost" type="xs:int" />
		<xs:element name="timeCost" type="xs:int" />
		<xs:element name="name" type="xs:string" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="upgradePrerequisite" type="xs:int" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="unitPrerequisite" type="xs:int" />
		</xs:sequence>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpgradeTemplate">
	<xs:complexContent>
		<xs:extension base="Template">
			<xs:sequence>
				<xs:element name="basicAttackChange" type="xs:int" />
				<xs:element name="piercingAttackChange" type="xs:int"></xs:element>
				<xs:element name="armorChange" type="xs:int" />
				<xs:element name="healthChange" type="xs:int"></xs:element>
                    <xs:element name="sightRangeChange" type="xs:int"></xs:element>
                    <xs:element name="rangeChange" type="xs:int"></xs:element>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="affectedUnitTypes"
						type="xs:int" />
				</xs:sequence>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="Action">
	<xs:sequence>
		<xs:element name="unitId" type="xs:int" />
		<xs:element name="actionType" type="ActionType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="TargetedAction">
	<xs:complexContent>
		<xs:extension base="Action">
			<xs:sequence>
				<xs:element name="targetId" type="xs:int" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="DirectedAction">
	<xs:complexContent>
		<xs:extension base="Action">
			<xs:sequence>
				<xs:element name="direction" type="Direction" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="LocatedAction">
	<xs:complexContent>
		<xs:extension base="Action">
			<xs:sequence>
				<xs:element name="x" type="xs:int" />
				<xs:element name="y" type="xs:int" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="ProductionAction">
	<xs:complexContent>
		<xs:extension base="Action">
			<xs:sequence>
				<xs:element name="templateId" type="xs:int" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="LocatedProductionAction">
	<xs:complexContent>
		<xs:extension base="Action">
			<xs:sequence>
				<xs:element name="x" type="xs:int" />
				<xs:element name="y" type="xs:int" />
				<xs:element name="templateId" type="xs:int" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResourceQuantity">
	<xs:sequence>
		<xs:element name="quantity" type="xs:int" />
		<xs:element name="type" type="ResourceType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourceNode">
	<xs:sequence>
		<xs:element name="ID" type="xs:int" />
		<xs:element name="type" type="ResourceNodeType" />
		<xs:element name="xPosition" type="xs:int" />
		<xs:element name="yPosition" type="xs:int" />
		<xs:element name="initialAmount" type="xs:int" />
		<xs:element name="amountRemaining" type="xs:int" />	
	</xs:sequence>	
</xs:complexType>
<xs:simpleType name="ResourceNodeType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="TREE" />
		<xs:enumeration value="GOLD_MINE" />
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ResourceType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="WOOD" />
		<xs:enumeration value="GOLD" />
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Direction">
	<xs:restriction base="xs:string">
		<xs:enumeration value="NORTH" />
		<xs:enumeration value="SOUTH" />
		<xs:enumeration value="EAST" />
		<xs:enumeration value="WEST" />
		<xs:enumeration value="SOUTHEAST" />
		<xs:enumeration value="SOUTHWEST" />
		<xs:enumeration value="NORTHEAST" />
		<xs:enumeration value="NORTHWEST" />
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActionType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PRIMITIVEMOVE" />
		<xs:enumeration value="PRIMITIVEATTACK" />
		<xs:enumeration value="PRIMITIVEGATHER" />
		<xs:enumeration value="PRIMITIVEDEPOSIT" />
		<xs:enumeration value="PRIMITIVEBUILD" />
		<xs:enumeration value="PRIMITIVEPRODUCE" />
		<xs:enumeration value="COMPOUNDMOVE" />
		<xs:enumeration value="COMPOUNDATTACK" />
		<xs:enumeration value="COMPOUNDGATHER" />
		<xs:enumeration value="COMPOUNDDEPOSIT" />
		<xs:enumeration value="COMPOUNDBUILD" />
		<xs:enumeration value="COMPOUNDPRODUCE" />
		<xs:enumeration value="FAILED" />
		<xs:enumeration value="FAILEDPERMANENTLY" />
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActionFeedback">
	<xs:restriction base="xs:string">
		<xs:enumeration value="COMPLETED" />
		<xs:enumeration value="INCOMPLETE" />
		<xs:enumeration value="FAILED" />
		<xs:enumeration value="INCOMPLETEMAYBESTUCK" />
		<xs:enumeration value="INVALIDCONTROLLER" />
		<xs:enumeration value="INVALIDUNIT" />
		<xs:enumeration value="INVALIDTYPE" />
	</xs:restriction>
</xs:simpleType>

<!--Event Logging Structures-->
<xs:element name="History">
<xs:complexType>
	<xs:sequence>
		<xs:element name="fogOfWar" type="xs:boolean" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="playerHistories" type="PlayerHistory" />
		</xs:sequence>
		<xs:element name="observerHistory" type="PlayerHistory" />
	</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="PlayerHistory">
	<xs:sequence>
		<xs:element name="playerNumber" type="xs:int" />
		<xs:element name="eventLogger" type="EventLogger" />
		<xs:element name="commandsIssued" type="ActionLogger" />
		<xs:element name="commandFeedback" type="ActionResultLogger" />
		<xs:element name="primitiveFeedback" type="ActionResultLogger" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="ActionLogger">
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
		<xs:element name="actionList" type="ActionList" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionList">
	<xs:sequence>
	<xs:element name="roundNumber" type="xs:int" />
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
		<xs:element name="actionEntry" type="ActionEntry" />
	</xs:sequence>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionEntry">
<xs:sequence>
	<xs:element name="unitID" type="xs:int" />
	<xs:element name="action" type="Action" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionResultLogger">
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="actionResultList" type="ActionResultList" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionResultList">
	<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="actionResultEntry" type="ActionResultEntry" />
		</xs:sequence>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionResultEntry">
<xs:sequence>
	<xs:element name="unitID" type="xs:int" />
	<xs:element name="actionResult" type="ActionResult" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ActionResult">
	<xs:sequence>
		<xs:element name="action" type="Action" />
		<xs:element name="feedback" type="ActionFeedback" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="EventLogger">
	<xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="birthLogList" type="BirthLogList" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="deathLogList" type="DeathLogList" />
		</xs:sequence>
		
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="damageLogList" type="DamageLogList" />
		</xs:sequence>		
		
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="ResourceNodeExhaustionLogList" type="ResourceNodeExhaustionLogList" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="resourcePickupLogList" type="ResourcePickupLogList" />
		</xs:sequence>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="resourceDropoffLogList" type="ResourceDropoffLogList" />
		</xs:sequence>
		
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="RevealedResourceNodeLog" type="RevealedResourceNodeLog" />
		</xs:sequence>
				
				
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="upgradeLogList" type="UpgradeLogList" />
		</xs:sequence>		
				
	</xs:sequence>
</xs:complexType>

			<xs:complexType name="BirthLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="birthLog" type="BirthLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeathLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="deathLog" type="DeathLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="DamageLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="damageLog" type="DamageLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
		<xs:complexType name="UpgradeLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="upgradeLog" type="UpgradeLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResourceNodeExhaustionLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="ResourceNodeExhaustionLog" type="ResourceNodeExhaustionLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResourcePickupLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="resourcePickupLog" type="ResourcePickupLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResourceDropoffLogList">
				<xs:sequence>
		<xs:element name="roundNumber" type="xs:int" />
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="resourceDropoffLog" type="ResourceDropoffLog" />
				</xs:sequence>
		</xs:sequence>
			</xs:complexType>
		
<xs:complexType name="BirthLog">
	<xs:sequence>
		<xs:element name="newUnitID" type="xs:int" />
		<xs:element name="controller" type="xs:int" />
		<xs:element name="parentID" type="xs:int" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DamageLog">
	<xs:sequence>
		<xs:element name="attackerID" type="xs:int" />
		<xs:element name="attackerController" type="xs:int" />
		<xs:element name="defenderID" type="xs:int" />
		<xs:element name="defenderController" type="xs:int" />
		<xs:element name="damage" type="xs:int" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="UpgradeLog">
	<xs:sequence>
		<xs:element name="UpgradeTemplateID" type="xs:int" />
		<xs:element name="ProducingUnitID" type="xs:int" />
		<xs:element name="Controller" type="xs:int" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourceDropoffLog">
	<xs:sequence>
		<xs:element name="depositAmount" type="xs:int" />
		<xs:element name="gathererID" type="xs:int" />
		<xs:element name="depotID" type="xs:int" />
		<xs:element name="controller" type="xs:int" />
		<xs:element name="resourceType" type="ResourceType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourceNodeExhaustionLog">
	<xs:sequence>
		<xs:element name="exhaustedNodeID" type="xs:int" />
		<xs:element name="exhaustedNodeType" type="ResourceNodeType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourcePickupLog">
	<xs:sequence>
		<xs:element name="pickupAmount" type="xs:int" />
		<xs:element name="gathererID" type="xs:int" />
		<xs:element name="controller" type="xs:int" />
		<xs:element name="nodeID" type="xs:int" />
		<xs:element name="nodeType" type="ResourceNodeType" />
		<xs:element name="resourceType" type="ResourceType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="RevealedResourceNodeLog">
	<xs:sequence>
		<xs:element name="xPosition" type="xs:int" />
		<xs:element name="yPosition" type="xs:int" />
		<xs:element name="nodeType" type="ResourceNodeType" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="DeathLog">
	<xs:sequence>
		<xs:element name="deadUnitID" type="xs:int" />
		<xs:element name="controller" type="xs:int" />
	</xs:sequence>
</xs:complexType>
</xs:schema>